<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>redis-cli.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>redis-server.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A43AE2E419A2432500FFE199</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A491D97219ADEC180013C8CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A491D9F519ADF3A70013C8CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4A48FC719A244BA00B67BB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
